#listrow-f{padding-left:20px;padding-right:70px;color:black;border-bottom: 1px solid black;border-top: 1px solid black;padding-top: 10px;padding-bottom:10px;}
#listrow-m{padding-left:70px;padding-right:70px;color:black;border-bottom: 1px solid black;border-top: 1px solid black;padding-top: 10px;padding-bottom:10px;}
#listrow-c{padding-left:120px;padding-right:70px;color:black;border-bottom: 1px solid black;border-top: 1px solid black;padding-top: 10px;padding-bottom:10px;}
#listhead{padding-left: 42px;padding-bottom:10px;color: black;}
#Options{padding: 10px;font-family: 'Shadows Into Light', cursive;}
#Title{font-family: 'Pacifico', cursive;}
#p{font-family: 'Shadows Into Light', cursive;}
#TaskTab:hover{background-color:#cacdda}
